
<!--<button (click)="getToken()">Get Token</button>-->
<div *ngIf="!loggedIn">Not Logged in please authenticate with google
    <asl-google-signin-button type='standard' size='large' widht="300px"></asl-google-signin-button>
</div>
<div *ngIf="loggedIn && loading">
  <h1>Loading</h1>
</div>
<div *ngIf="loggedIn && !loading">
  <div *ngIf="appList">
    <mat-card *ngFor="let app of appList" style="margin:20px">
    <mat-card-header>
      <mat-card-title>{{app.Name}}</mat-card-title>
      <mat-card-subtitle>Description of {{app.Name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-raised-button color="primary" (click)="connect(app.Id!)">Open Connection</a>
    </mat-card-actions>
  </mat-card></div>
  <div *ngIf="!appList">
    <h1>ERR 401: You are unauthorized</h1>
  </div>
</div>
