<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="688933920583-vojm3og1kndonhvo6icej2r2q8a0la8b.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"><button>sign in</button></div>

<!--
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened> Side Nav</mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->
